* {
  margin: 0;
  padding: 0;
}

#quote-box {
  background-color: #fff;
  width: 30rem;
  height: auto;
  padding: 2rem 3rem;
  border: solid thin #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
}

#quote-box figure figcaption {
  padding-top: 1.1rem;
  align-self: flex-end;
  font-size: 1.2rem;
}

.container-button {
  display: flex;
  justify-content: space-between;
}
